<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    
		<filter>
		    <filter-name>Jersey</filter-name>
			<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    		<init-param>
            	<param-name>jersey.config.server.provider.packages</param-name>
            	<param-value>controller,
					com.jersey.jaxb,
					com.fasterxml.jackson.jaxrs.json</param-value>
        	</init-param>
			<init-param>
    			<param-name>jersey.config.server.provider.classnames</param-name>
    			<param-value>org.glassfish.jersey.server.mvc.jsp.JspMvcFeature</param-value>
			</init-param> 
    		<init-param>
        		<param-name>jersey.config.server.mvc.templateBasePath</param-name>
        		<param-value>/</param-value>
    		</init-param>
			<init-param>
            	<param-name>jersey.config.servlet.filter.forwardOn404</param-name>
            	<param-value>true</param-value>
        	</init-param>
    		<init-param>
      			<param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
				<param-value>/(((images|css|js|jsp|html)/.*))</param-value>		
    		</init-param>

		</filter>

	<listener>
		<listener-class>io.nobel.myapp.LoadConfigurationListener</listener-class>
	</listener>
		
		<filter-mapping>
			<filter-name>Jersey</filter-name>
		    <url-pattern>/rest/*</url-pattern>
		</filter-mapping>
					    
	<error-page>
        <error-code>404</error-code>
        <location>/jsp/404.jsp</location>
    </error-page>

</web-app>
